################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tutorial3_AcquiringAnImage/bin/x64
/.vs/Tutorial3_AcquiringAnImage/v14
/Tutorial3_AcquiringAnImage/obj/x64/Debug
